.accordion-group {
    background-color: #fff;
    float: left;
    width: 100%;

    &__item {
        height: 60px;
    }

    &__header {
        background-color: transparent;

        a {
            text-decoration: none;
        }

        __header-btn {
            color: #fff;
            font-size: 20px
        }

        .panel-heading {
            &:hover {
                background-color: #b4b4b4;
            }
        }

        .panel-heading, .panel-body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .accordion-toggle {
        display: block;
        width: 100%;
    }

    .panel-group {
        margin-bottom: 0;
    }

    .panel-heading {
        cursor: pointer;
    }

    .panel-title {
        font-size: 14px;

        label {
            margin-top: 5px;
        }
    }

    .panel-body {
        padding-top: 5px;
    }

    @media (min-width: $screen-sm-min) {
        .__item {
            height: 40px;
        }
    }
}
