html { 
  overflow-y: scroll; 
}

body {
    background: $cc-body-bg;
    background-size: 100% auto;
    background-repeat: no-repeat repeat-y;
    font-family: $cc-font-family-regular;
    font-weight: 400;
}