.btn--dropdown {
    background-color:#fff;
    font-weight:700;
    border-bottom: 1px transparent solid;
    color:#000;
    width:115px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    height:40px;
    font-family: 'Atlas Grotesk Web', Helvetica, Arial;

    &.large {
        width:180px;
    }

    &.full {
        width:100%;
    }

    button {
        outline-color:rgba(191,9,1, 0.2);
        height: 100%;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width:100%;
        color:#000;
        top:50%;
        position:relative;
        transform:translateY(-50%);
        text-transform:uppercase;
        font-size:12px;

        &.sub--dropdown {
            transform:translateY(0);
            height:40px;

            &:hover,
            &:focus,
            &.focus {
                background-color:#000;
                color:#fff;
            }
        }
    }
    
    &:hover,
    &:focus,
    &.focus {
        color: #b20903;
        border-bottom-color:#b20903;
        outline:none;
    }
}

.btn--fullwidth {
    width:100%;
}

.btn--default {
    transition: all .15s ease-in;
}

.btn--primary {
    transition: all .15s ease-in;
    &:hover {
        color:#000;
        background-color:#fff;
        border-color:#ccc;
    }
}

.btn--sort {
    background-color:transparent;
}

.btn--none {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*.btn--checkbox {
    background-color:#b40901;
    color:#fff;
    height:40px;
    width:40px;
    padding:0;

    span {
        line-height:40px;
    }
}*/