.btn--dropdown {
    font-weight:700;
    border-bottom: 1px transparent solid;
    color:#000;
    width:102px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    height:40px;
    font-family: 'Atlas Grotesk Web', Helvetica, Arial;

    &.large {
        width:160px;
    }

    &.full {
        width:100%;
    }

    button {
        outline-color:rgba(191,9,1, 0.2);
        height: 100%;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width:100%;
        color:#000;
        top:50%;
        position:relative;
        transform:translateY(-50%);
        text-transform:uppercase;
        font-size:11px;

        &.sub--dropdown {
            transform:translateY(0);
            height:40px;

            &:hover,
            &:focus,
            &.focus {
                background-color:#000;
                color:#fff;
            }
        }
    }
    
    &:hover,
    &:focus,
    &.focus {
        color: #b20903;
        border-bottom-color:#b20903;
        outline:none;
    }
}

.btn--full-width {
    width:100%;
}

.btn--icon {
    color:#fff;
    &.btn:hover, &.btn:focus, &.btn.focus {
        color:#fff;
    }
}

.btn--default {
    transition: all .15s ease-in;
}

.btn--primary {
    background-color:#000;
    color:#fff;
    &:hover,
    &:focus,
    &.focus {
        color:#000;
        background-color:#fff;
        border-color:#ccc;
    }
}

/*Very specific so as to override bootstrap*/
.btn.btn--radio {
    background-color: #fff;
    border-radius:50%;
    margin:0 5px;
    width:32px;
    height:32px;
    padding:0;
    font-weight:bold;

    &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }

    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 50%;
    }

    &:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
    }

    &.active {
        color: #fff;
        background-color: #b30900;
    }
}

.btn--none {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}