input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: none;

    &:checked {
        + .checkbox::before {
            background: #bf0901;
            border: 2px solid #b30900;
        }

        + .checkbox::after {
            opacity: 1;
        }
    }

    + .checkbox {
        display: inline-block;
        margin-top: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        position: static;
        margin: 0;
        cursor: pointer;

        &::before {
            height: 20px;
            width: 20px;
            display: block;
            content: "";
            background: #fff;
            border: 2px solid #575757;
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            opacity: 0;
            transition: opacity 0.15s ease-in;
            display: block;
            font: $cc-checkbox-font;
            content: $cc-checkbox-content;
            color: $cc-checkbox-color;
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }
}

.checkbox--label {
    margin-right: 10px;
    font-weight: 400;
    padding-left: 30px;
    position: relative;

    &::after {
        content: ' ';
    }
}
