.image--container {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        width: auto;
        max-width: 90%;
        height: auto;
        max-height: 90%;
        margin: auto;
        display: block;
    }

    &::before {
        content: "";
        height: 0;
        display: block;
        width: 100%;
        padding-bottom: 90%;
    }
}