.pagination {

    button {
        font-weight:700;
        background-color:#bfbfbf;
    }

    .fa {
        font-weight:700;
    }
    
    .btn--active {
        background-color:#bf0901;
        color:#fff;
    }
}