<div class="col-xs-12">
    <div class="col-xs-6 col-md-12">
        <input type="text" class="form-control input--buffer" ng-model="$ctrl.fm.authorLastName" placeholder="Author last name" />
    </div>
    <div class="col-xs-6 col-md-3">
        <input type="text" class="form-control input--buffer" ng-model="$ctrl.fm.volume" placeholder="Volume" />
    </div>
    <div class="col-xs-6 col-md-3">
        <input type="text" class="form-control input--buffer" ng-model="$ctrl.fm.crObject" placeholder="CR Object #" />
    </div>
    <div class="col-xs-6 col-md-3">
        <input type="text" class="form-control input--buffer" ng-model="$ctrl.fm.year" placeholder="Year" />
    </div>
    <div class="col-xs-6 col-md-3">
        <input type="text" class="form-control input--buffer" ng-model="$ctrl.fm.code" placeholder="Code" />
    </div>
</div>
