
$cc-panel-color: transparent;

/* Bootstrap variables */
/*$grid-gutter-width: 0;*/
$grid-gutter-width:12px;
$border-radius-base: 0;
$navbar-padding-horizontal: 0;
$panel-default-heading-bg: $cc-panel-color;
$panel-default-border: $cc-panel-color;
$panel-bg: $cc-panel-color;
$navbar-default-bg: transparent;
$nav-tabs-active-link-hover-bg: #cccccc;
$nav-tabs-active-link-hover-color:#575757;
$nav-link-hover-bg:#cccccc;
/*$btn-default-color: #fff;*/

/* Custom variables */
$cc-font-path: "/Content/fonts";
$cc-body-bg: url(/images/body_bg.jpg) center top #d7c44c;
$cc-logo-bg: url(/images/christies-logo@2x.png) center no-repeat;
$cc-logo-width: 215px;
$cc-logo-height: 26px;
$cc-font-family-regular: 'AtlasGrotesk-Regular', sans-serif;
$cc-font-family-web: 'Atlas Grotesk Web', Helvetica, Arial;
$cc-checkbox-font: normal normal normal 14px/1 FontAwesome;
$cc-checkbox-content: "\f00c";
$cc-checkbox-color: #fff;
$cc-panel-heading-border: $cc-panel-color 1px solid;
$cc-nav-tabs-inactive-link-bg:#575757;