
/* Bootstrap variables */
$grid-gutter-width: 0;
$border-radius-base: 0;

/* Custom variables */
$cc-font-path: "/Content/fonts";
$cc-body-bg: url(/images/body_bg.jpg) center top #d7c44c;
$cc-logo-bg: url(/images/christies-logo@2x.png) center no-repeat;
$cc-logo-width: 215px;
$cc-logo-height: 26px;
$cc-font-family-regular: 'AtlasGrotesk-Regular', sans-serif;
$cc-font-family-web: 'Atlas Grotesk Web', Helvetica, Arial;
$cc-checkbox-font: normal normal normal 14px/1 FontAwesome;
$cc-checkbox-content: "\f00c";
$cc-checkbox-color: #fff;