
<style>
    .cc-not-found{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
    .cc-not-found .hgroup{text-transform:uppercase;}
    .cc-not-found .hgroup h1{margin-bottom:25px; font-size:80px;}
    .cc-not-found .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #ccc; overflow:hidden;}
    .cc-not-found .hgroup h1 span strong{display:inline-block; padding:0 20px 20px; border:1px solid #ccc; font-weight:normal;}
    .cc-not-found .hgroup h2{font-size:60px;}
    .cc-not-found .hgroup h2 span{display:block; font-size:30px;}
    .cc-not-found p{margin:25px 0 0 0; padding:0; font-size:16px;}
    .cc-not-found p:first-child{margin-top:0;}
</style>

<div id="container">
    <section>
        <div class="hgroup">
            <!--<div class="page-header page--header">
                <a href="/ItemDetail" class=""><h3>Object Link</h3></a>
            </div>-->
            <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
            <h2>Error ! <span>Page Not Found</span></h2>
        </div>
        <p>The Page You Requested Could Not Be Found</p>
        <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
    </section>
</div>