<div class="advanced--search">
    <cc-advanced-search-header fm="$ctrl.fm"></cc-advanced-search-header>
</div>
<div class="advanced--search">
    <uib-accordion class="accordion--group section--header input--buffer">
        <cc-advanced-search-accordion title="Object Details">
            <cc-advanced-search-obj-details fm="$ctrl.fm"></cc-advanced-search-obj-details>
        </cc-advanced-search-accordion>
        <cc-advanced-search-accordion title="COS calaogue raisonne">
            <cc-advanced-search-cat-rais fm="$ctrl.fm"></cc-advanced-search-cat-rais>
        </cc-advanced-search-accordion>
        <cc-advanced-search-accordion title="Object Activity">
            <cc-advanced-search-obj-activity fm="$ctrl.fm"></cc-advanced-search-obj-activity>
        </cc-advanced-search-accordion>
    </uib-accordion>
</div>
