/*.search-results-items {
    padding-left:
}*/

.search-results-items {
    overflow: hidden;

    &__listview {
        background-color: #fff;
        transform: translate3d(0, 0, 0);
        float: left;
    }
}

.search-results-item {


    &__details {
        padding: 10px;
    }

    &__banner {
        padding-top: 5px;
        position: absolute;
        z-index: 1;
        /*5px from bootstrap _type.scss*/
        left: 5px;
        right: 5px;
        padding-left: 30px;
        font-weight: bold;
        color: #fff;

        &.confidential {
            background-color: rgba(186, 37, 28, 0.5);
        }
    }

    &__row {
        /*overflow:hidden;*/
        white-space: nowrap;
        height: 160px;

        &::after {
            content: ' ';
            display:block;
        }
    }

    &__cell {
        width: 160px;
        overflow: hidden;
        /*background-color: red;*/
        display: inline-block;
        height: 100%;
        background-color: #fff;
    }
}
