<div class="container-fluid full--width">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-full--width">
            <cc-header></cc-header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row top-buffer">
				<cc-search-keyword um="$ctrl.um"></cc-search-keyword>
			</div>
            <div class="row">
                <cc-advanced-search um="$ctrl.um"></cc-advanced-search>
            </div>
            <div class="row">
                <cc-search-footer um="$ctrl.um"></cc-search-footer>
            </div>
		</div>
	</div>
</div>