<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <cc-header class="cc-header"></cc-header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <section class="wrapper">
		  <article class="content_container">
			<div class="search-window container">
			  <div class="row">
				<div class="search-box section_padd col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  <a href="#" class="sprite find-icon"></a>
				  <input id="search-txt" class="lrg" type="text" placeholder="Search" />
				  <a href="#" class="sprite cross-icon"></a>
				</div>
			  </div>
			  <div class="row">
				<div class="search-from section_padd col-xs-12 col-sm-12 col-md-12 col-lg-12">
				  <div class="chkbox">
					<input type="checkbox" id="camsDB" checked />
					<label for="camsDB">CAMS</label>
					<span class="check"></span>
				  </div>
				  <div class="chkbox">
					<input type="checkbox" id="cosDB" />
					<label for="cosDB">COS</label>
					<span class="check"></span>
				  </div>
				  <div class="chkbox">
					<input type="checkbox" id="jdeDB" />
					<label for="jdeDB">JDE</label>
					<span class="check"></span>
				  </div>
				</div>
			  </div>
			  <div class="row dark-bg">
				<div class="col-xs-12">
				  <ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#advanced-search">Advanced Search</a></li>
					<li><a data-toggle="tab" href="#query-builder">Query Builder</a></li>
				  </ul>
				</div>
			  </div>
			  <div class="tab-content">
				<div id="advanced-search" class="row tab-pane fade in  active">
				  <div class="col-*-12">
					<div class="cccbg padding-tb200">
					  <div class="sCategory_blc">
						<div class="container">
						  <div class="sHeadContent">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<h6>&nbsp;</h6>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Search" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="CAMS item #/COS object ID/JDE item #" />
								  </div>
								</div>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<h6>Execution dates</h6>
									<div class="row gutter-10">
									  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="DateInput">
										  <input type="text" placeholder="1900" />
										  <button type="button" class="btn btn-calendar btn-xs"></button>
										</div>
									  </div>
									  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="DateInput">
										  <input type="text" placeholder="2017" />
										  <button type="button" class="btn btn-calendar btn-xs"></button>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h6>Value</h6>
								<div class="b4bbg padding-10">

								  <button type="button" class="btn btn-round btn-xs">&pound;</button>
								  <button type="button" class="btn btn-round btn-xs">&euro;</button>
								  <button type="button" class="btn btn-round btn-xs on">&dollar;</button>

								  <div class="row gutter-10">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									  <label class="lbltxt">Minimum</label>
									  <input type="text" placeholder="From" />
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									  <label class="lbltxt">Maximum</label>
									  <input type="text" placeholder="To" />
									  <button id="infoMax" type="button" class="btn btn-round btn-xs info info-right">i</button>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									  <div class="DateInput">
										<input type="text" placeholder="From" />
										<button type="button" class="btn btn-calendar btn-xs"></button>
									  </div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									  <div class="DateInput">
										<input type="text" placeholder="To" />
										<button type="button" class="btn btn-calendar btn-xs"></button>
									  </div>
									  <button type="button" class="btn btn-round btn-xs info info-right">i</button>
									</div>

								  </div>
								</div>
							  </div>
							</div>
							<div class="mt10 whitebg">
							  <a href="#selCluster" class="sHead dwn-arrow" data-toggle="collapse">Select Cluster</a>
							  <div id="selCluster" class="section_padd collapse">
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_culture" />
									  <label for="chk_culture">20th and 21st Centuary Culture</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_asian" checked />
									  <label for="chk_asian">Asian</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_decorative_arts" />
									  <label for="chk_decorative_arts">Decorative Arts</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_historic" />
									  <label for="chk_historic">Historic</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_Impressionist_and_Modern" />
									  <label for="chk_Impressionist_and_Modern">Impressionist and Modern</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_luxury" />
									  <label for="chk_luxury">Luxury</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_old" />
									  <label for="chk_old">Old Masters 19th Centuary and Russian</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_postwar" />
									  <label for="chk_postwar">Post-War and Contemporary</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_science" />
									  <label for="chk_science">Science and Books</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_world_art" />
									  <label for="chk_world_art">World Art</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<div class="mt10 mb10 whitebg">
							  <a href="#selDepartment" class="sHead dwn-arrow" data-toggle="collapse">Select Department</a>
							  <div id="selDepartment" class="section_padd collapse">
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_asian" checked />
									  <label for="chk_asian">Asian</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_asian_contemporary" />
									  <label for="chk_asian_contemporary">Asian Contemporary Art</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_chinese_paintings" />
									  <label for="chk_chinese_paintings">Chinese Paintings</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_chinese_works" />
									  <label for="chk_chinese_works">Chinese Works of Art</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="chkbox">
									  <input type="checkbox" id="chk_japanese" />
									  <label for="chk_japanese">Japanese and Korean Art</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							</div>

						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#objectDetails" class="sHead" data-toggle="collapse">Object Details</a>
						<div id="objectDetails" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="row">
								  <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_fine_arts" name="selector" checked>
									  <label for="rbtn_fine_arts">Fine Arts</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_watches" name="selector" checked>
									  <label for="rbtn_watches">Watches</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_other" name="selector" checked>
									  <label for="rbtn_other">Other</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
								<input type="text" placeholder="Title" />
								<input type="text" placeholder="Medium" />
								<input type="text" placeholder="Details / description" />
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Edition" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Edition of" />
								  </div>
								</div>
								<input type="text" placeholder="No. of Parts / Quantity" />
								<h6>Status</h6>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_masterpiece" checked />
									  <label for="chk_masterpiece">Masterpiece</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_stolen" />
									  <label for="chk_stolen">Stolen</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_fake" />
									  <label for="chk_fake">Fake</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_looted" />
									  <label for="chk_looted">Looted</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_lost" />
									  <label for="chk_lost">Lost</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_condition_issues" />
									  <label for="chk_condition_issues">Condition issues</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h6>Dimensions</h6>
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">cm</button>
								  <button type="button" class="btn btn-switch btn-xs">inc</button>
								</div>

								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Min. height" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Max. height" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Min. width/diam" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Max. width/diam" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Min. depth" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Max. depth" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Min. area" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Max. area" />
								  </div>
								</div>
								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_All" name="selector" checked>
									  <label for="rbtn_All">All</label>
									  <span class="check"></span>
									</div>
									<div class="radiobtn">
									  <input type="radio" id="rbtn_objects" name="selector">
									  <label for="rbtn_objects">Objects</label>
									  <span class="check"></span>
									</div>
									<div class="radiobtn">
									  <input type="radio" id="rbtn_soft" name="selector">
									  <label for="rbtn_soft">Soft Intelligence only</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h6>Category</h6>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_painting" checked />
									  <label for="chk_painting">Painting</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_print" />
									  <label for="chk_print">Print</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_sculpture" />
									  <label for="chk_sculpture">Sculpture</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_other" />
									  <label for="chk_other">Other</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_installation" />
									  <label for="chk_installation">Installation</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_works_on_paper" />
									  <label for="chk_works_on_paper">Works on Paper</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_photograph" />
									  <label for="chk_photograph">Photograph</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
								<div class="row mt10">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<label class="lbltxt">Show images?</label>
									<div class="radiobtn">
									  <input type="radio" id="rbtn_Allimages" name="selector" checked>
									  <label for="rbtn_Allimages">All images</label>
									  <span class="check"></span>
									</div>
									<div class="radiobtn">
									  <input type="radio" id="rbtn_with_images" name="selector">
									  <label for="rbtn_with_images">With images</label>
									  <span class="check"></span>
									</div>
									<div class="radiobtn">
									  <input type="radio" id="rbtn_no_images" name="selector">
									  <label for="rbtn_no_images">No images</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#cos_catalogue" class="sHead" data-toggle="collapse">COS catalogue raisonne</a>
						<div id="cos_catalogue" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
								<input type="text" placeholder="Author last name" />
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
								<input type="text" placeholder="Volume" />
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
								<input type="text" placeholder="CR Object #" />
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
								<input type="text" placeholder="Year" />
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
								<input type="text" placeholder="Code" />
							  </div>
							</div>
							<a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#Object_activity" class="sHead" data-toggle="collapse">Object activity</a>
						<div id="Object_activity" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="DateInput">
									  <input type="text" placeholder="From" />
									  <button type="button" class="btn btn-calendar btn-xs"></button>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="DateInput">
									  <input type="text" placeholder="To" />
									  <button type="button" class="btn btn-calendar btn-xs"></button>
									</div>
								  </div>
								</div>
								<h6>Valuation / pricing</h6>
								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_action_estimate" name="selector" checked>
									  <label for="rbtn_action_estimate">Action estimate</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_valuation_amount" name="selector">
									  <label for="rbtn_valuation_amount">Valuation amount</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
								<input type="text" placeholder="CAMS valuation ID" />
								<input type="text" placeholder="CAMS item ID" />
								<h6>Value</h6>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Minimum" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Maximum" />
								  </div>
								</div>
								<div class="selectInput">
								  <select><option>Valuation type</option></select>
								</div>
								<input type="text" placeholder="Valuer" />
								<div class="selectInput">
								  <select><option>Office of entry</option></select>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="mb20">
								  <button type="button" class="btn btn-round btn-xs on">&pound;</button>
								  <button type="button" class="btn btn-round btn-xs">&euro;</button>
								  <button type="button" class="btn btn-round btn-xs">&dollar;</button>
								  <button type="button" class="btn btn-round btn-xs info">i</button>
								</div>
								<h6>Transactions</h6>
								<input type="text" placeholder="JDE item number/COS Object ID" />
								<h6 class="mt10">Auction</h6>
								<div class="selectInput">
								  <select><option>Auction house</option></select>
								</div>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Sale #" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Lot #" />
								  </div>
								</div>
								<input type="text" placeholder="Location" />
								<input type="text" placeholder="Sale title" />
								<input type="text" placeholder="Property title" />
								<input type="text" placeholder="COS sale code" />

								<h6 class="mt10">Private sale</h6>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Asking price min" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Asking price max" />
								  </div>
								</div>
								<input type="text" placeholder="Dealer" />
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="selectInput">
								  <select><option>Result (e.g. Sold or bid)</option></select>
								</div>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Low estimate" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="High estimate" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Hammer min" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Hammer max" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Price realisd. min" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Price realisd. max" />
								  </div>
								</div>
								<div class="selectInput">
								  <select><option>Bid type</option></select>
								</div>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Bid amount min" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Bid amout max" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Net to vndr. min" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Net to vndr. max" />
								  </div>
								</div>
							  </div>
							</div>
							<a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#ClientDetails" class="sHead" data-toggle="collapse">Client details</a>
						<div id="ClientDetails" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="COS #" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Account #" />
								  </div>
								</div>
								<input type="text" placeholder="Client name" />
								<input type="text" placeholder="Client CTL name" />

								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="City" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Postcode" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="State" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="selectInput">
									  <select><option>Country</option></select>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_primary_address" name="selector" checked>
									  <label for="rbtn_primary_address">Primary address</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="radiobtn">
									  <input type="radio" id="rbtn_all_address" name="selector">
									  <label for="rbtn_all_address">All address</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="selectInput">
								  <select><option>Reporting country</option></select>
								</div>
								<div class="selectInput">
								  <select><option>Reporting office</option></select>
								</div>

								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="chkbox">
									  <input type="checkbox" id="chk_painting" checked />
									  <label for="chk_painting">Deceased</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="chkbox">
									  <input type="checkbox" id="chk_painting" />
									  <label for="chk_painting">Defunct</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="chkbox">
									  <input type="checkbox" id="chk_painting" />
									  <label for="chk_painting">Archieved</label>
									  <span class="check"></span>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="chkbox">
									  <input type="checkbox" id="chk_last_confirmed" />
									  <label for="chk_last_confirmed">Last confirmed</label>
									  <span class="check"></span>
									</div>
									<div class="row gutter-10 mt10">
									  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="selectInput">
										  <select><option>Type</option></select>
										</div>
									  </div>
									  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="selectInput">
										  <select><option>U</option></select>
										</div>
									  </div>
									</div>
									<label class="lbltxt">COS Ownership confirmation</label>
									<div class="selectInput">
									  <select><option>Type</option></select>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#Provenance" class="sHead" data-toggle="collapse">Provenance, exhibitions, literature, condition and notes</a>
						<div id="Provenance" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<h6>&nbsp;</h6>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Provenance" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Coditions" />
								  </div>
								</div>
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Literature" />
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<input type="text" placeholder="Exhibitors" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h6>COS note dates</h6>
								<div class="row gutter-10">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="DateInput">
									  <input type="text" placeholder="From" />
									  <button type="button" class="btn btn-calendar btn-xs"></button>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="DateInput">
									  <input type="text" placeholder="To" />
									  <button type="button" class="btn btn-calendar btn-xs"></button>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<input type="text" placeholder="COS notes" />
								  </div>
								</div>
							  </div>
							</div>
							<a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
						  </div>
						</div>
					  </div>
					  <div class="sCategory_blc">
						<a href="#Tags" class="sHead" data-toggle="collapse">Tags</a>
						<div id="Tags" class="container collapse">
						  <div class="sHeadContent padding-tb2025">
							<div class="row">
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="tagsInput">
								  <input type="text" placeholder="Tags keyword" />
								  <button type="button" class="btn btn-tag btn-xs"></button>
								</div>
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="tagsInput">
								  <input type="text" placeholder="Tags keyword" />
								  <button type="button" class="btn btn-tag btn-xs"></button>
								</div>

							  </div>
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="row">
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_male" checked />
									  <label for="chk_male">Male</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_female" />
									  <label for="chk_female">Female</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_animal" />
									  <label for="chk_animal">Animal</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_other" />
									  <label for="chk_other">Other</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_self_portrait" />
									  <label for="chk_self_portrait">Self portrait</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_nude" />
									  <label for="chk_nude">Nude</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="chkbox">
									  <input type="checkbox" id="chk_bw" />
									  <label for="chk_bw">Black and white</label>
									  <span class="check"></span>
									</div>
								  </div>
								  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<button type="button" class="btn btn-round btn-xs info">i</button>
								  </div>
								</div>
							  </div>
							  <a href="#" class="clearInputs sprite" title="Clear all input in this section"></a>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div class="container">
					  <div class="row whitebg-light">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section_padd2 text-center">
						  <button type="button" class="btn btn-default">Reset search</button>
						  <button type="button" class="btn btn-default">Begin search</button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div id="query-builder" class="row tab-pane fade in">
				  <div class="col-*-12">
					<div class="dark-bg padding-tb200">
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="sQuery_blc">
						<div class="container">
						  <div class="sQuery_blc_inner">
							<div class="row">
							  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<div class="btnAndOr clearfix">
								  <button type="button" class="btn btn-switch btn-xs on">AND</button>
								  <button type="button" class="btn btn-switch btn-xs">OR</button>
								</div>
								<div class="row">
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Artist</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="selectInput">
									  <select><option>Start with</option></select>
									</div>
								  </div>
								  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input type="text" placeholder="Picasso" />
								  </div>
								</div>
							  </div>
							  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
								<button type="button" class="btn btn-plus">Add rule</button>
								<button type="button" class="btn btn-plus">Add group</button>
								<button type="button" class="btn btn-minus">Delete</button>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div class="container">
					  <div class="row whitebg-light">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section_padd2 text-center">
						  <button type="button" class="btn btn-default">Submit query</button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </article>
		</section>
		</div>
	</div>
</div>



