@font-face {
  font-family: 'Baskerville10Pro';
  src: url('Baskerville10Pro.eot');
  src: url('Baskerville10Pro.eot?#iefix') format('embedded-opentype'),
     url('Baskerville10Pro.woff') format('woff'),
     url('Baskerville10Pro.ttf') format('truetype'),
     url('Baskerville10Pro.svg#Baskerville10Pro') format('svg');
  font-weight:  normal;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Baskerville10Pro-Italic';
  src: url('Baskerville10Pro-Italic.eot');
  src: url('Baskerville10Pro-Italic.eot?#iefix') format('embedded-opentype'),
     url('Baskerville10Pro-Italic.woff') format('woff'),
     url('Baskerville10Pro-Italic.ttf') format('truetype'),
     url('Baskerville10Pro-Italic.svg#Baskerville10Pro-Italic') format('svg');
  font-weight:  normal;
  font-style:   normal;
  font-stretch: normal;
}