.cc-header {
    float:left;
    width:100%;
    font-family: 'Atlas Grotesk Web', Helvetica, Arial;
    margin-bottom:10px;

    .navbar-collapse {
        padding:0;
        border-bottom:1px solid #eeeeee;
    }
}