.cc-refine-search {
    float:left;
    background-color:#cccccc;
    width:100%;
    font-family: 'Atlas Grotesk Web', Helvetica, Arial;

    .section-title {
        /*color:#fff;*/
    }

    .uib-tab  {
        margin-left:20px;
        color:#000;

        a {
            color:#555;
        }
    }

    .tab-content {
        background-color:#efefef;
    }
}