.cc-search-results {
    float:left;
    width:100%;
    background-color:#efefef;
    border:1px solid #ccc;

    .search-results--result {
        height:120px;
        overflow:hidden;
        padding-top:5px;
        padding-bottom:5px;
    }

    .checkbox--group {
        margin:0;
    }
}